@{
	ViewBag.Title = "UserDashBoard";
}

<fieldset>


	@if (Session["ID"] != null)
	{
		<text>Welcome @Session["userName"].ToString() </text>

	<ul>
		<li>@Html.ActionLink("Account", "Details", "Users")</li>
		<li>@Html.ActionLink("Giveaways", "Index", "Giveaways")</li>
		<li>@Html.ActionLink("Skins", "Index", "Skins")</li>
	</ul>
	}
</fieldset>
